# Supabase Credentials (Frontend / Client)
VITE_SUPABASE_URL=your_supabase_project_url_here
VITE_SUPABASE_ANON_KEY=your_supabase_anon_key_here

# Cloudinary Setup
VITE_CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
VITE_CLOUDINARY_UPLOAD_PRESET=your_upload_preset

# Uploadthing Setup
VITE_UPLOADTHING_TOKEN=your_uploadthing_token_here

# Backblaze B2 Setup
VITE_B2_BUCKET_NAME=your_b2_bucket_name
VITE_B2_ENDPOINT=https://s3.ca-east-006.backblazeb2.com
